 
.idea/
node_modules/

backend_python_api/pinterest_venv/
backend_python_api/pinterest_venv/
/user_uploads/
backend_python_api/pinterest_venv/
/nice_imgs/

.env
gg.bat
过程说明.md

frontend_react_app/node_modules/

imgs_data/
